
// ==== FOOTER =====
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-wrap{
    width: 100%;
    min-height: 2em;
    // 
    background-color: rgb(41, 36, 30);
}
.footer-center{
    width: 80%;
    color: rgb(184, 177, 177);
}
